@import url('https://fonts.googleapis.com/css?family=Lato:700i');

.blog-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
  }
  
  .blog-header-logo {
    font-size: 2.25rem;
  }
  
  .blog-header-logo:hover {
    text-decoration: none;
  }
  
  .display-4 {
    font-size: 2rem;
  }
  @media (min-width: 768px) {
    .display-4 {
      font-size: 2.5rem;
    }
  }
  .loto{
    font-family: 'Lato', sans-serif;
  }
  
  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }
  
  .nav-scroller .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  
  .nav-scroller .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
  }
  
  .card-img-right {
    height: 100%;
    border-radius: 0 3px 3px 0;
  }
  
  .flex-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  
  .h-250 { height: 250px; }
  @media (min-width: 768px) {
    .h-md-250 { height: 250px; }
  }
  
  
  /*
   * Footer
   */
  .blog-footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
  }
  .blog-footer p:last-child {
    margin-bottom: 0;
  }
  
.navbar{
  background: linear-gradient(180deg, #15A3DD 0%, #206FB7 100%);
  color: white;
}
.about{
    background-image: url('./imagenes/image\(2\).png');
    background-position: top;
    background-size: cover;
}
.aboutme{
  text-shadow: #000 0px 0px 5px, #000 0px 0px 10px, #000 0px 0px 15px, #000 0px 0px 20px;
}
.badge{
  padding: 1.5%;
  text-shadow: 2px 2px 4px black;
  font-size: 15px;
}



.photo{
    width: 100%;
}

.sobremi{
    background: #F6F6F6;
    color: black;
    padding: 5%;
    opacity: 0.7;
    text-align: justify;
    border-radius: 3px 3px;
}

.mobile{
  display: none;
}
.desktop{
  display: block;
  margin-top: 2%;
}

@media (max-width: 768px) {
  .mobile{
    display: block;
    margin-top: 5%;
  }
  .desktop{
    display: none;
  }
  .sobremi{
    padding: 5%;
    text-align: center;
  }
  .aboutme{
    margin-top: 50%
  }
}



